.app__header {
  padding-top: 10rem;
}
.app__grid {
  padding: 5rem 0;

  background-color: #fff;
  margin-top: 3rem;
}

.app__header-content-title {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-family: var(--font_base);
  font-size: 3.8rem;
  margin-bottom: 1.5rem;
}

.app__header-content-subtitle {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 1.7rem;
  font-family: var(--font_base);
  text-transform: capitalize;
  margin-bottom: 4.5rem;
}
.app__specs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 6rem;
  column-gap: 1rem;
}

.hero_image img {
  max-width: 100%;
}
.app__btn {
  text-align: center;
}
.app__btn .discover_more {
  padding: 1rem 2rem;
  border: none;
  background-color: #4a7aec;
  font-size: 14px;
  font-family: var(--font_base);
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-radius: 70px;
  margin-top: 4rem;
}

@media (max-width: 970px) {
  .app__header-content-title {
    font-size: 2.2rem;
  }

  .app__header-content-subtitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 760px) {
  .app__specs {
    grid-template-columns: repeat(1, 1fr);
  }
}
